.app {
  text-align: center;
  display: block;
  text-transform: capitalize;
}

.poke__input {
  width: 50%;
  height: 35px;
  font-size: 15px;
  text-align: center;
}

.pokemones {
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid lightgray;
}

.pokemones__img {
  background-color: #eaa9ff;
  padding: 15px 52px 0 52px;
}

.pokemon__id {
  font-size: 12px;
  background-color: aliceblue;
}

.pokemon__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 200px 20px;
}

.pokemon__types {
  list-style: none;
  display: flex;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.pokemon__name {
  margin: 20px 15px 0 0;
  font-size: 20px;
}

.pokemon__card {
  width: 100%;
}

.pokemones__types {
  color: gray;
  padding: 3px;
  border-radius: 20%;
  margin: 10px 0;
  margin-right: 5px;
  border-style: groove;
  text-transform: uppercase;
  font-size: 10px;
}
